{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
  <div class="main-space">
    <div class="main-header">
      <form action=""  method="get" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="text" placeholder="Найти на Wildberries" type="text" class="main-search" value={{ value }}><br><br>
    </form>
      
      <a href="{% url 'bid_page' %}" class="main-cart-link">
        <div class="main-cart-icon">
          <img src="http://127.0.0.1:9000/picrip/cart.png" class="main-cart-img">
          <span class="main-cart-text">Корзина</span>
        </div>
      </a>
    </div>

    <div class="main-container">
      {% for category in categories %}
        <a href="{% url 'category_detail' category.id %}" class="main-card-link">
          <div class="main-card">
            <img src="{{category.image}}" alt="{{ category.name }}" class="main-img">
            <p class="main-desc">{{ category.name }}</p>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
